$black: #000000;
$quarter-shadow: rgba($black, 0.25);
$almost-black: #151515;
$gold: #D5966C;
$dark-grey: #444444;
$white: #FFFFFF;

body{
    color: $almost-black;
}

header{
    width: 1275px;
    height: 800px;
}

div.container{    
    @media screen and (min-width: 376px){
        width: 1110px;
    }
}

section{
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6{
    
}

.headings{
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    text-shadow: 0px 4px 4px $quarter-shadow;
    text-transform: uppercase;
    stroke: $black;
    stroke-width: 1;
    stroke-linejoin: miter;
    &[class*="heading-xl"]{
        font-size: 96px;
        line-height: 88px;    
    }
    &[class*="heading-l"]{
        font-size: 70px;
        line-height: 70px;    
    }
    &[class*="heading-m"]{
        font-size: 60px;
        line-height: 50px;   
    }
    &[class*="heading-s"]{
        font-size: 36px;
        line-height: 36px;  
    }
}

.body-text{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: $dark-grey;
    stroke: $black;
    stroke-width: 1;
    stroke-linejoin: miter;
    text-align: left;
    &[class*="text-m"]{
        font-size: 22px;
        line-height: 32px;
    }
    &[class*="text-s"]{
        font-size: 18px;
        line-height: 28px;
    }
}






