$black: #000000;
$quarter-shadow: rgba($black, 0.25);
$text-shadow-values: 0px 4px 4px $quarter-shadow;
$almost-black: #151515;
$gold: #D5966C;
$dark-grey: #444444;
$white: #FFFFFF;
$header-font-sizes: (
    xl: (font-size: 96px, line-height: 88px),
    l: (font-size: 70px, line-height: 70px),
    m: (font-size: 60px, line-height: 50px),
    s: (font-size: 36px, line-height: 36px)
);

@mixin header-size-properties($size){
    $properties: map-get($header-font-sizes, $size);
    font-size: map-get($properties, font-size);
    line-height: map-get($properties, line-height);
}

$body-font-sizes: (
    m: (font-size: 22px, line-height: 32px),
    s: (font-size: 18px, line-height: 28px)
);

@mixin body-size-properties($size){
    $properties: map-get($body-font-sizes, $size);
    font-size: map-get($properties, font-size);
    line-height: map-get($properties, line-height);
}

.headings{
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    text-shadow: $text-shadow-values;
    text-transform: uppercase;
    stroke: $black;
    stroke-width: 1;
    stroke-linejoin: miter;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    &.header-xl{
        @include header-size-properties(xl);
        @media screen and (max-width: 375px) {
            @include header-size-properties(m);
        }        
    }
    &.header-m{
        @include header-size-properties(m);
        padding: 50px 0;
    }
}

.body-text{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: $dark-grey;
    stroke: $black;
    stroke-width: 1;
    stroke-linejoin: miter;
    text-align: left;
    @include body-size-properties(m);
    @media screen and (max-width: 375px) {
        @include body-size-properties(s);
    }
}

p{
    &.text-m{
        @include body-size-properties(m);
    }
}

button{
    width: 260px;
    height: 72px;
    color: $white;
    display: flex;
    align-items: center;
    padding:0;
    border:0;
    .label,.svg{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &:hover{
       .label{
        background-color: $gold;
       }        
       .svg{
        background-color: $almost-black;
       }
    }
    .label{
        font-family: "Big Shoulders Display";
        text-transform: uppercase;
        letter-spacing: 3.64px;
        font-size: 24px;
        width: 204px;
        height: 72px;
        background-color:$almost-black;
        p{
            font-weight: 700;
            -webkit-text-stroke: 1px $black;      
            text-shadow: $text-shadow-values;
        }

    }
    .svg{
        background-color: $gold;
        height: 72px;
        width: 56px;
        align-items: center;
        img{
            width: 10px;

        }
    }
}


body{
    color: $almost-black;
    margin:0;
    max-width: 1440px;
}


.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}

div{
    .black{
        background-color: $almost-black;
        p, h1, h2, h3, h4, h5, h6{
            mix-blend-mode: difference;
            color: $white;
        }
    }

}

div, footer, section{
    &.container{
        @media screen and (min-width: 376px){
            width: 1110px;
            margin-left: 165px;
        }
        @media screen and (max-width: 375px) {
            width: 375px;
        }
    }    
}

.hero-imagery{
    display: flex;
    .mask{
        width: 450px;
        height: 800px;
        z-index: 0;
    }
    img{
        z-index: 0;
    }
    @media screen and (min-width: 376px) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        img.mobile-hero{
            display: none;
        }        
    }
    @media screen and (max-width: 375px) {
        width: 375px;
        .black-mask, img.desktop-hero{
            display: none;
        }
        img.mobile-hero{
            width: 375px;
            height: 240px;
        }         
    }
    
}


section{
    @media screen and (min-width: 376px) {
        &.hero-contents{
            height: 800px;
            > .row{
                padding-top: 180px;
                justify-content: space-between;
                > .column:nth-child(1) > h1{
                    mix-blend-mode: difference;
                    color: $white;
                }
                > .column:nth-child(2){
                    width: 350px;
                    button{
                        margin-top:72px;
                    }
                }
            }        
        }
        &.grid{
            margin-top: 192px;
            margin-bottom: 192px;
            .row:nth-child(1){
                justify-content: space-between;
                margin-bottom: 30px;
                .column:nth-child(1){
                    width: 350px;
                }
            }
            .row:nth-child(2){
                justify-content: space-between;
                .column:nth-child(2){
                    justify-content: space-between;
                    div{
                        width: 445px;
                        height: 377px;
                        h3, p{
                            margin: 0 47.5px;
                        }
                    }                
                }
            }
        }
    }

    @media screen and (max-width: 375px) {
        &.hero-contents{
            height: 390px;
            > .row{
                padding: 0px 16px;
                flex-direction: column;
                .column{
                    margin-top: 36px;
                }
                > .column:nth-child(1) > h1{
                    color: $almost-black;
                }
                > .column:nth-child(2){
                    button{
                         margin-top:36px;
                    }
                }
            }
        }

    }   
}






