body {
  color: #151515;
  margin: 0;
  max-width: 1440px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
h1.header-m, h2.header-m, h3.header-m, h4.header-m, h5.header-m, h6.header-m, p.header-m {
  font-size: 60px;
  line-height: 50px;
  margin: 50px 0;
}

p.text-m {
  font-size: 22px;
  line-height: 32px;
}

.row {
  display: flex;
}

div .black {
  background-color: #151515;
}
div .black p, div .black h1, div .black h2, div .black h3, div .black h4, div .black h5, div .black h6 {
  mix-blend-mode: difference;
  color: #FFFFFF;
}

@media screen and (min-width: 376px) {
  div.container {
    width: 1110px;
    margin-left: 165px;
  }
}
@media screen and (max-width: 375px) {
  div.container {
    width: 375px;
  }
}

.hero-imagery {
  display: flex;
}
.hero-imagery .mask {
  width: 450px;
  height: 800px;
  z-index: 0;
}
.hero-imagery img {
  z-index: 0;
}
@media screen and (min-width: 376px) {
  .hero-imagery {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .hero-imagery img.mobile-hero {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .hero-imagery {
    width: 375px;
  }
  .hero-imagery .black-mask, .hero-imagery img.desktop-hero {
    display: none;
  }
  .hero-imagery img.mobile-hero {
    width: 375px;
    height: 240px;
  }
}

@media screen and (min-width: 376px) {
  section .top-half {
    height: 800px;
  }
  section .top-half > .row {
    padding-top: 180px;
    justify-content: space-between;
  }
  section .top-half > .row > .column:nth-child(1) > h1 {
    mix-blend-mode: difference;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 96px;
    line-height: 88px;
  }
  section .top-half > .row > .column:nth-child(2) {
    width: 350px;
  }
  section .top-half > .row > .column:nth-child(2) button {
    margin-top: 72px;
  }
  section .bottom-half {
    margin: 192px 0;
  }
  section .bottom-half .row:nth-child(1) {
    justify-content: space-between;
    margin-bottom: 30px;
  }
  section .bottom-half .row:nth-child(1) .column:nth-child(1) {
    width: 350px;
  }
  section .bottom-half .row:nth-child(2) {
    justify-content: space-between;
  }
}
@media screen and (max-width: 375px) {
  section .top-half {
    height: 390px;
  }
  section .top-half > .row {
    padding: 0px 16px;
    flex-direction: column;
  }
  section .top-half > .row .column {
    margin-top: 36px;
  }
  section .top-half > .row > .column:nth-child(1) > h1 {
    color: #151515;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    line-height: 50px;
  }
  section .top-half > .row > .column:nth-child(2) button {
    margin-top: 36px;
  }
}

.headings {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  stroke: #000000;
  stroke-width: 1;
  stroke-linejoin: miter;
}

.body-text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #444444;
  stroke: #000000;
  stroke-width: 1;
  stroke-linejoin: miter;
  text-align: left;
  font-size: 22px;
  line-height: 32px;
}
@media screen and (max-width: 375px) {
  .body-text {
    font-size: 18px;
    line-height: 28px;
  }
}

button {
  width: 260px;
  height: 72px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
}
button .label, button .svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button:hover .label {
  background-color: #D5966C;
}
button:hover .svg {
  background-color: #151515;
}
button .label {
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  letter-spacing: 3.64px;
  font-size: 24px;
  width: 204px;
  height: 72px;
  background-color: #151515;
}
button .label p {
  font-weight: 700;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button .svg {
  background-color: #D5966C;
  height: 72px;
  width: 56px;
  align-items: center;
}
button .svg img {
  width: 10px;
}

/*# sourceMappingURL=style.css.map */
