$black: #000000;
$quarter-shadow: rgba($black, 0.25);
$text-shadow-values: 0px 4px 4px $quarter-shadow;
$almost-black: #151515;
$gold: #D5966C;
$dark-grey: #444444;
$white: #FFFFFF;

body{
    color: $almost-black;
    margin:0;
    max-width: 1440px;
    border: 1px solid red;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

.row{
    display: flex;
}

div.container{    
    @media screen and (min-width: 376px){
        width: 1110px;
        margin-left: 165px;
    }
    @media screen and (max-width: 375px) {
        width: 343px;
    }
}

.hero-imagery{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    .black-mask{
        width: 450px;
        height: 800px;
        background-color: $almost-black;
        z-index: 0;
    }
    image{
        z-index: 0;
    }
}


section{
    .top-half{
        height: 800px;
        > .row{
            padding-top: 180px;
            justify-content: space-between;
            > .column:nth-child(1) > h1{
                mix-blend-mode: difference;
                color: $white;
                display: flex;
                flex-direction: column;
            }
            > .column:nth-child(2){
                width: 350px;
                button{
                    margin-top:72px;
                }
            }
        }  
    }   
}

.headings{
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    text-shadow: $text-shadow-values;
    text-transform: uppercase;
    stroke: $black;
    stroke-width: 1;
    stroke-linejoin: miter;
    &[class*="heading-xl"]{
        font-size: 96px;
        line-height: 88px;    
    }
    &[class*="heading-l"]{
        font-size: 70px;
        line-height: 70px;    
    }
    &[class*="heading-m"]{
        font-size: 60px;
        line-height: 50px;   
    }
    &[class*="heading-s"]{
        font-size: 36px;
        line-height: 36px;  
    }
}

.body-text{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: $dark-grey;
    stroke: $black;
    stroke-width: 1;
    stroke-linejoin: miter;
    text-align: left;
    &[class*="text-m"]{
        font-size: 22px;
        line-height: 32px;
    }
    &[class*="text-s"]{
        font-size: 18px;
        line-height: 28px;
    }
}

button{
    width: 260px;
    height: 72px;
    color: $white;
    display: flex;
    align-items: center;
    padding:0;
    border:0;
    .label,.svg{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &:hover{
       .label{
        background-color: $gold;
       }        
       .svg{
        background-color: $almost-black;
       }
    }
    .label{
        font-family: "Big Shoulders Display";
        text-transform: uppercase;
        letter-spacing: 3.64px;
        font-size: 24px;
        width: 204px;
        height: 72px;
        background-color:$almost-black;
        p{
            font-weight: 700;
            -webkit-text-stroke: 1px $black;      
            text-shadow: $text-shadow-values;
        }

    }
    .svg{
        background-color: $gold;
        height: 72px;
        width: 56px;
        align-items: center;
        img{
            width: 10px;

        }
    }
}




